body {
    background-color: var(--main-color-1);
    margin: 0;
}

:root {
    --main-color-1: #F8EDE3;
    --main-color-2: #D0B8A8;
    --main-color-3: #3B3030;
    --main-color-4: #DFD0C6;
    --hover-color-1: #3b30302a;
    --hover-color-2: #f8ede3be;
    --dark-cover: #000000d5;
    --input-color: #000000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color-3);
    border-radius: 2rem;
    cursor: default;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#menu {
    background-color: var(--main-color-2);
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width .4s;
    overflow-x: hidden;
    z-index: 1;
    position: fixed;
}

#menu-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 48px;
    user-select: none;
}

.text {
    color: var(--main-color-3);
    font-family: inter;
    font-weight: bold;

}

#logo-text {
    font-size: 25px;
    margin-right: 20px;
}

#close-menu-button {
    width: 20px;
    user-select: none;
    padding: 10px;
    border-radius: .5rem;
    transition: .5s;
    cursor: pointer;
}

#logo {
    width: 89px;
    margin-right: 18px;
}

.menu-button {
    border-radius: 7px;
    width: 260px;
    height: 40px;
    margin-top: 26px;
    align-items: center;
    display: flex;
}

.menu-button-text {
    font-size: 22px;
    margin-left: 18px;
}

@font-face {
    font-family: 'inter';
    src: url('./Inter-VariableFont_opsz\,wght.ttf');
}

.menu-button-logo {
    width: 26px;
    margin-left: 21px;
    user-select: none;

}

#contacts {
    margin-top: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

#menu-line {
    height: 2px;
    width: 200px;
    background-color: var(--main-color-3);
    border: none;
}

#email-contact {
    width: 62px;
    margin-right: 34px;
    user-select: none;
}

#contacts-buttons {
    margin-top: 32px;
    user-select: none;
    margin-bottom: 16px;
}

#git-contact {
    width: 52px;
    user-select: none;
}

#version {
    margin-top: 6px;
    font-size: 12px;
}

#copy-right {
    font-size: 14px;
}

.pressed-button {
    background-color: var(--main-color-1);
}

:hover.pressed-button {
    background-color: var(--hover-color-2) !important;
}

:hover.hover-button {
    background-color: var(--main-color-4);
}

#menu-open-button {
    width: 36px;
    position: fixed;
    top: 10px;
    left: -100px;
    cursor: pointer;
    padding: 9px 5px 9px 5px;
    border-radius: .5rem;
    transition: .5s;
    z-index: 0;
}

:hover#menu-open-button {

    background-color: var(--main-color-4);
}

:hover.menu-button {
    background-color: var(--hover-color-1);
}

.homepage-choice-logo {
    width: 100%;

}

#homepage-frame {
    display: flex;
    flex-direction: row;
}

#homepage-content-frame {

    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    margin-left: 300px;
    height: 100vh;
    width: 100vW;

}

#homepage-choice-book {
    margin-right: 15vw;
}

.homepage-choice-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 265px;
    padding: 50px;
    border-radius: 1rem;
    transition: .5s;
    user-select: none;
}

:hover.homepage-choice-button {
    background-color: var(--main-color-2);
}

.homepage-choice-text {
    font-size: 30px;
    margin-top: auto;
}

#homepage-choice-menu {
    display: flex;
    align-items: center;
}


.homepage-choice-logo-container {
    height: 209px;
    width: 264px;
    display: flex;
    justify-content: center;
}

#settings-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--dark-cover);
    z-index: 2;

    justify-content: center;
    align-items: center;
    display: none;
}

#settings-menu-frame {
    background-color: var(--main-color-1);
    height: 500px;
    width: 750px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

#settings-button {
    cursor: pointer;
}

#settings-menu {
    height: 100%;
    width: 185px;
    background-color: var(--main-color-2);
    border-radius: 1rem 0px 0px 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#close-settings-button {
    width: 20px;
    height: 20px;
    user-select: none;
    padding: 10px;
    border-radius: .5rem;
    transition: .5s;
    cursor: pointer;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.settings-menu-text {
    font-size: 18px;
}

.settings-menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius: 0.4rem;
    width: 160px;
    height: 28px;
    cursor: pointer;
}

:hover.settings-menu-button {
    background-color: var(--hover-color-1);
}

.settings-menu-icon {
    height: 20px;
    margin-right: 10px;
    user-select: none;
    margin-left: 30px;
}


@media screen and ((max-width: 1920px) or (max-height: 1080px)) {
    .homepage-choice-logo-container {
        width: 176px;
        height: 140px;
    }

    .homepage-choice-text {
        font-size: 20px;
    }

    .homepage-choice-button {
        height: 176px;
        padding: 34px;
    }
}

.email-input-frame {
    border-radius: 1rem;
    width: 206px;
    height: 38px;
    background-color: var(--main-color-4);
    border: 2px solid var(--main-color-3);
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 18px;

}

.input-clear {
    width: 14px;
    margin-left: 8px;
    margin-right: 12px;
    cursor: pointer;
    user-select: none;
}

input,
textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.input-email {
    width: 158px;
    height: 30px;
    caret-color: var(--main-color-3);
    font-size: 19px;
}

.email-form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text {
    font-size: 23px;
}

#email-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 155px;
}

#email-details-input-frame {
    width: 412px;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--main-color-4);
    border: 2px solid var(--main-color-3);
    margin-top: 18px;
    position: relative;
}

#email-inputs-frame {
    height: 358px;
    display: flex;
    justify-self: center;
}

#email-details-frame {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#email-details-clear {
    position: absolute;
    height: 14px;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

#email-details-input {
    caret-color: var(--main-color-3);
    font-size: 19px;
    position: absolute;
    left: 15px;
    top: 5px;
    height: 300px;
    width: 360px;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

#email-generate-frame {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#email-generate-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#generate-button-icon {
    height: 20px;
    margin-right: 4px;
}

#generate-button-text {
    font-size: 24px;
}

@media screen and ((max-width: 1920px) or (max-height: 1080px)) {
    #menu {
        width: 250px;
    }

    #menu-logo {
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    #logo {
        width: 74px;
        margin-right: 15px;
    }

    #logo-text {
        font-size: 21px;
        margin-right: 17px;
    }

    #close-menu-button {
        width: 17px;
        padding: 8px;
    }

    .menu-button {
        border-radius: 0.5rem;
        width: 217px;
        height: 33px;
        margin-top: 22px;
    }

    .menu-button-logo {
        width: 22px;
        margin-left: 18px;
    }

    .menu-button-text {
        font-size: 18px;
        margin-left: 15px;
    }

    #menu-line {
        width: 167px;
    }

    #contacts-buttons {
        margin-top: 27px;
        margin-bottom: 13px;
    }

    #email-contact {
        width: 52px;
        margin-right: 28px;
    }

    #git-contact {
        width: 43px;
    }

    #version {
        margin-top: 5px;
        font-size: 10px;
    }

    #copy-right {
        font-size: 12px;
    }

    #contacts {
        margin-bottom: 29px;
    }

    #homepage-content-frame {
        margin-left: 250px;
    }
}

#output-frame {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--dark-cover);
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: none;

}

#output-body {
    background-color: var(--main-color-1);
    height: 80vh;
    width: 30vw;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    border: 4px solid var(--main-color-3);
    outline: 2px solid var(--main-color-1);
    align-items: center;

}

#output-box {
    width: 97%;
    height: 96%;
    caret-color: var(--main-color-3);
    font-size: 17px;
    font-family: inter;
    margin-top: 10px;
    color: var(--input-color);
    overflow-y: scroll;
}

#output-box::-webkit-scrollbar {
    width: 8px;
}

#output-options {
    width: 100%;
    display: flex;
    align-items: center;
}

#output-close {
    height: 18px;
}

#copy-button {
    height: 25px;
}

#reset-button {
    height: 20px;
}

.output-button {
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: .5s;
    user-select: none;
    cursor: pointer;
}

:hover.output-button {
    background-color: var(--hover-color-1);
}

#copy-button-box {
    margin-left: 10px;
    margin-top: 3px;
}

#reset-button-box {
    margin-left: 6px;
    margin-top: 3px;
}

#close-button-box {
    margin-left: auto;
    margin-right: 3px;
    margin-top: 3px;
}

.form-input-box {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.book-input-frame {
    border-radius: 1rem;
    width: 206px;
    height: 38px;
    background-color: var(--main-color-4);
    border: 2px solid var(--main-color-3);
    display: flex;
    align-items: center;
    justify-content: right;
}

#book-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 240px;
}

#book-input-container {
    display: flex;
    align-items: center;
}

#book-display {
    height: 240px;
    width: auto;
    min-width: 400px;
    max-width: 600px;
    margin-left: 25px;
    background-color: var(--main-color-4);
    border-radius: 0.5rem;
    border: 2px solid var(--main-color-3);
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.book-cover {
    flex-shrink: 0;
    height: 180px;
    width: 130px;
    border: 2px solid var(--main-color-3);
    border-radius: 0.5rem;
    margin-right: 24px;
    user-select: none;
    object-fit: cover;

}

.book-info-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.book-info-category {
    font-size: 16px;
}

.book-info {
    font-size: 16px;
    font-style: italic;
    color: var(--main-color-3);
    font-family: inter;
}

.book-content {
    display: flex;
    scroll-snap-align: center;
    margin: 30px;
    cursor: pointer;
    flex-wrap: nowrap;
}

.book-reference-option {
    font-size: 22px;
    margin-right: 10px;
}

#reference-format-frame {
    display: flex;
    align-items: center;
}

#reference-format-options {
    border: 2px solid var(--main-color-3);
    background-color: var(--main-color-4);
    border-radius: 0.5rem;
    width: 70px;
    height: 26px;
    outline: none;
    color: var(--input-color);
}

#book-reference-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 50px;
}

#reference-generate-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#reference-generate-button-icon {
    height: 18px;
    margin-right: 4px;
    user-select: none;
}

#reference-generate-button-text {
    font-size: 22px;

}

#open-output-button {
    width: 23px;
    cursor: pointer;
}

#email-options-box {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
}

.svg-style {
    fill: var(--main-color-3);
}

input,
textarea {
    color: var(--input-color);
}

#close-settings-box {
    height: 100%;
}

#theme-settings-frame {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

input[type="radio"].theme-radio {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--main-color-3);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: var(--main-color-4);
    margin: 0;
}

input[type="radio"].theme-radio:checked {
    background-color: var(--main-color-4);
}

input[type="radio"].theme-radio:checked::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color-3);
}

.check-box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme-check-text {
    font-size: 17px;
    margin-left: 5px;
}

#theme-radio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    gap: 10px;
}

#suggestions-box {
    height: 100%;
    width: 150px;
    margin-left: 10px;
    font-size: 14px;
}

#suggestions-box-space {
    width: 100%;
    height: 50px;
}

#suggestions-box-flex {
    flex-direction: column;
    display: none;
}

#suggestion-text {
    font-weight: normal;
}

.searching-message {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#book-input-frame {
    display: flex;
    flex-direction: column;
}

#publisher-suggestions {
    width: 206px;
    height: auto;
    min-height: 30px;
    max-height: 200px;
    background-color: var(--main-color-4);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 100;
    border-radius: 0.5rem;
    background-color: var(--main-color-4);
    border: 2px solid var(--main-color-3);
    overflow-y: scroll;
    display: none;
    flex-direction: column;
    border-top: 0px;
    overflow-x: hidden;
}

#publisher-frame {
    position: relative;
    display: flex;
    flex-direction: column;
}

.publisher-suggestion {
    cursor: pointer;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.25rem;
    padding-left: 5px;
    box-sizing: border-box;
    font-weight: normal;
}

:hover.publisher-suggestion {
    background-color: var(--hover-color-1);
}

#publisher-input::placeholder {
    font-size: 17px;
}



.toggleCheckbox {
    display: none;
}

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 192px;
    height: 34px;
    
    border-radius: 1rem;
    
    color: var(--main-color-4);
    cursor: pointer;
    user-select: none;
    margin-bottom: 35px;
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 0.75rem;
    background: var(--main-color-3);
    transition: all 0.3s;
}

.toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
}

.toggleCheckbox:checked+.toggleContainer::before {
    left: 50%;
}

.toggleCheckbox:checked+.toggleContainer div:first-child {
    color: var(--main-color-3);
    transition: color 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:last-child {
    color: var(--main-color-4);
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:first-child {
    color: var(--main-color-4);
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:last-child {
    color: var(--main-color-3);
    transition: color 0.3s;
}
.toggleContainer__text{
    font-size: 21px;
}

#article-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 108px;
}
.article__upper-frame{
    width: 338px;
}
#article__link-input{
    width: 290px;
}
#website-icon{
    object-fit: cover;
    width: 104px;
    height: 104px;
    border-radius: 0.5rem;

}
#website-icon__frame{
    width: 108px;
    height: 108px;
    border: 2px solid var(--main-color-3);
    border-radius: 0.5rem;
    user-select: none;
    margin-left: 24px;
    box-sizing: border-box;
}
#article-input__box--lower{
    display: flex;
}
.article-input__box--upper{
width: 532px;
}
#article-input__box{
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: space-between;
    display: none;
}

#article__title-input{
    width: 294px;
}
img[src=""] {
    display: none;}